# vs code files
.vscode/

# djang environment
.env
venv/


# Django migrations
*.pyc
__pycache__/

# djago static files
staticfiles/
static/

# Django compiled files
*.log

# Django database files
db.sqlite3


# Django secret key
secret_key.txt
# Django media files
media/

# Python cache files
*.pyc
django_heroku/